@mixin keyframes($name, $startingAnim){
    @keyframes #{$name}{
        0%, 22%{
            @include getTransform($startingAnim, 1);
        }

        23%{
            @include getTransform($startingAnim, 0.75);
        }
        24%{
            @include getTransform($startingAnim + 90deg, 0.75)
        }
        25%, 47%{
            @include getTransform($startingAnim + 90deg, 1);
        }

        48%{
            @include getTransform($startingAnim + 90deg, 0.75);
        }
        49%{
            @include getTransform($startingAnim + 180deg, 0.75);
        }
        50%, 72%{
            @include getTransform($startingAnim + 180deg, 1);
        }

        73%{
            @include getTransform($startingAnim + 180deg, 0.75);
        }
        74%{
            @include getTransform($startingAnim + 270deg, 0.75);
        }
        75%, 97%{
            @include getTransform($startingAnim + 270deg, 1);
        }

        98%{
            @include getTransform($startingAnim + 270deg , 0.75);
        }
        99%{
            @include getTransform($startingAnim + 360deg, 0.75);
        }
        100%{
            @include getTransform($startingAnim + 360deg, 1);
        }
    }
}

@mixin getTransform($rotation, $scale){
    transform: rotateX($rotation) scale3d($scale, $scale, $scale);
    @if $rotation == 360deg or $rotation == 0deg{
        z-index: 99;
    }
    @else{
        z-index: 1;
    }
}

@mixin setAnim($animName, $startingPos) {
    animation: $animName 20s ease infinite;
    @include keyframes($animName, $startingPos);
}

.rotationContainer {
    width: 100%;
    height: 800px;
    position: relative;
    perspective: 500px;
    margin: 0;

    &:after{
        --distanceAway: 75px;
    }

    .JumboCube {
        display:flex;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        transition: transform 1s ease;
        transform-origin: center center -400px;
        background-repeat: no-repeat;
        background-size: 100%;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
    }

    .front {
        @include setAnim(frontPanel, 0deg);
    }

    .top {
        @include setAnim(topPanel, 90deg);
    }

    .back {
        @include setAnim(backPanel, 180deg);
    }

    .bottom {
        @include setAnim(bottomPanel, 270deg);
    }
}

