.Footer {
    background-color: rgba(0, 0, 0, 0.68);
    color: white;
    .FooterInner {
        padding: 64px 32px;
        box-sizing: border-box;
        max-width: 1020px;
        width: auto;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        > div {
            text-align: center;
        }
        .SocialMedia {
        }
        .SiteInfo {
        }
    }
}