.Jumbotron {
    background-repeat: no-repeat;
    min-width: 1280px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    p {
        font-size: $JumboFontSize;
        text-align: center;
        font-family: $JumboFontFamily;
        font-weight: $JumboFontWeight;
        color: white;
        letter-spacing: $JumboLetterSpacing;
        line-height: 2em;
    }
}