.NavBar {
    display: flex;
    align-items: center;
    padding: 20px;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    top: 0px;
    height: 100px;
    .LogoWrapper {
        > img {
            width: 200px;
        }
    }
    .NavOption{
        text-decoration: none;
        color: white;
        &:hover{
            color: inherit;
        }
    }
    .NavOptions {
        text-align: right;
        width: 100%;
        > div {
            //.folder
            position: relative;
            display: inline-block;
            padding: 10px;
            color: white;
            font-family: $NavFontFamily;
            font-weight: $NavFontWeight;
            font-size: $NavFontSize;
            letter-spacing: $NavLetterSpacing;
            text-transform: uppercase;
            transition: color 0.1s 0s ease-in-out;

            .SubNav {
                position: absolute;
                display: flex;
                flex-direction: column;
                background-color: #0070cc;
                left: -0.5em;
                top: 35px;
                padding: 1em 0;
                transform: scale(1, 0);
                transform-origin: 0 0;
                transition: transform 0.14s 0s ease-in-out;

                .DropMenuItem {
                    color: white;
                    text-align: left;
                    padding: 0.5em 1.5em;
                    opacity: 0;
                    transition: opacity 0.3s 0s cubic-bezier(1, -0.04, 0.58, 1), color 0.15s;
                    white-space: nowrap;

                    &:hover {
                        color: #59cfbd;
                    }
                }
            }

            &:hover {
                color: #59cfbd;
                .SubNav {
                    transform: scale(1, 1) !important;
                    .DropMenuItem {
                        opacity: 1;
                    }
                }
            }
        }

        .BecomeAMemberButton {
            border-radius: 3px;
            box-shadow: 0px 0.2em 0px 0px #0a64a6;
            background-color: #0c7bcd;
            padding: 1em 1.5em;
            margin-left: 1em;
            &:hover {
                background-color: #0d84db;
                color: white;
            }
        }
    }
}