$NavFontSize: 10.5pt;
$NavFontWeight: 700;
$NavFontFamily: Lato;
$NavLetterSpacing: 2px;

$JumboFontSize: 40pt;
$JumboFontFamily: Lato;
$JumboFontWeight: bold;
$JumboLetterSpacing: 4px;

@import "../react/pages/Zinnstarter/Batch2/ZinnBatch2.scss";
@import "../react/pages/Zinnstarter/Batch1/ZinnBatch1.scss";
@import "../react/pages/Resources/HaveIdea/HaveIdea.scss";
@import "../react/pages/Home/animation.scss";
@import "../react/pages/ErrorPage/ErrorPage.scss";
@import "../react/pages/Zinnstarter/About/ZinnAbout.scss";
@import "./Navbar.scss";
@import "./Jumbotron.scss";
@import "./Footer.scss";
@import "./Content.scss";

body{
    margin: 0;
    padding: 0;
    font-family: Lato;
}

.noJumbo{
    margin-top: 100px;
}

.Button1 {
    background-color: #0070cc;
    color: white !important;
    font-family: "Lato";
    font-size: 12pt;
    font-weight: 400;
    padding: 20px;
    letter-spacing: 2pt;
    border-radius: 3px;
    border: none;
    box-shadow: 0 2px 0 0 #005aa3;
    cursor: pointer;
}

// .ZinnstarterText {
//     justify-content: center;
//     display: flex;
//     flex-direction: column;
//     padding: 0 0 0 50px;
//     height: 100%;
//     width: 100%;
// }