#ZinnBatch1Body {
    .ZinnBatch1Jumbo {
        background-position: center;
    }
    .Content {
        .ContentTitle {
            font-size: inherit;
        }
        .ContentText {
            font-size: 12pt;
        }
    }
    .ZinnBatch1Title {
        font-size: 24pt;
    }
    .ZinnstarterTimePeriod{
        font-size: 18px;
    }
}
