#ZinnBatch2Body {
    .Content {
        .ContentTitle {
            font-size: inherit;
        }
        .ContentText{
            font-size: 12pt;
        }
        
    }
    .ZinnstarterTitle{
        font-size: 24pt;
    }
    .ZinnstarterTimePeriod{
        font-size: 18px;
    }
}

